version: "3.9"
services:
  frontend:
    build: ./react-frontend
    image: "dockercompose/frontend:0.0.1"  # or 0.0.17 #docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' springboot
    container_name: react
    stdin_open: true
    ports:
      - "3001:3000"
    depends_on:
      - mongodb
      - springboot

  springboot:
    image: pavanvere/spring:0.0.10
    container_name: springboot
    environment:
      MONGO_URL: mongodb://mongodb:27017/EmployeeDB
    ports:
    - "8080:8080"
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
    - "27017:27017"