version: "3.9"
services:
  frontend:
    image: pavanvere/frontend:0.0.1
    container_name: react
    stdin_open: true
    ports:
      - "3001:3000"
    depends_on:
      - mongodb
      - springboot

  springboot:
    image: pavanvere/spring:0.0.10
    container_name: springboot
    environment:
      MONGO_URL: mongodb://mongo:27017/EmployeeDB
    ports:
    - "8080:8080"
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
    - "27017:27017"